page-post {
    #post-title {
        margin-top: 1em;
        font-size: 1.5em;
    }

    #post-genre {
        width: 100%;
        padding-right: 0px;

        ion-label {
            // padding-left: 9px;
        }
    }

    #post-body {
        padding-right: 0px;
    }

    #venture-submit {
        margin-top: 25%;
        padding: 50px;
        font-size: 48px;
    }
}