page-post {
    #post-title {
        margin-top: 1em;
    }

    #post-genre {
        width: 100%;
        padding-right: 0px;

        ion-label {
            // padding-left: 9px;
        }
    }

    #post-body {
        padding-right: 0px;

    }

    #venture-submit {
        margin-top: 12%;
        padding: 25px;
        font-size: 32px;
    }
}