page-show {
    #show-title {
        padding-top: 10px;
        text-align: center;
    }

    #lat-info {
        text-align: center;
    }
    
    #lon-info {
        text-align: center;
    }

    .ll-label {
        font-size: 11px;
    }
}
